.idea/
.DS_Store
node_modules/
dist/
.vscode/
stats.json
.uglify/
dll/
*.tgz
coverage/
*.log
*.log
dist/
build/
*.js~HEAD


.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!.yarn/.gitignore
.pnp.*